*{margin: 0; padding: 0; border: 0;}

body {background: #252525;}

.tab {
    background: gray;
    width: 500px; height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.block {
    background: #5a5a5a;
    margin: 2px;
}

.selected {
    background: yellow;
}
